
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.inputt, .btn-addproduct, .btn-delete {
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.inputt {
    width: calc(100% - 22px); /* Input width - padding and border */
    box-sizing: border-box;
}

h2, h3 {
    text-align: center;
    color: #444;
}

.form-addproduct {
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.btn-addproduct {
    color: white;
    background-color: #005a87;
    cursor: pointer;
    display: block; /* Make the button a block to fill container */
}

.btn-delete {
    background-color: #d9534f;
    color: white;
    cursor: pointer;
}

.card-product {
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
}

.productListContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.product-li {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 15px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.container-body {
    padding: 20px;
}

.productDiv {
    margin-bottom: 8px;
}

.title-containers {
    width: 100%;
    text-align: center;
    margin: 20px 0;
}


.product-list-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.product-list-table th, 
.product-list-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

.product-list-table thead {
    background-color: #f9f9f9;
}

.product-list-table tbody tr:nth-child(odd) {
    background-color: #f4f4f4;
}

.product-list-table tbody tr:nth-child(even) {
    background-color: #eef2f3;
}
