<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos en Tiempo Real</title>
    <link rel="stylesheet" href="{{ style }}">
</head>
<body>
    <section>
        <h2>Productos en Tiempo Real</h2>
        <div class="container-body">

          
            <div class="productListContainer" id="productList2">
                <header class="title-containers">
                    <h3>Lista de Productos</h3>
                </header>
               
                <table id="productListTable" class="product-list-table">
                    <thead>
                        <tr>
                            <th>Título</th>
                            <th>Precio</th>
                            <th>Stock</th>
                            <th>Descripción</th>
                            <th>Código</th>
                            <th>Categoría</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Los productos existentes se inyectarán aquí por Socket.IO -->
                    </tbody>
                </table>
            </div>
                      
            </div>

            <form id="product-form" class="form-addproduct">
                <label for="product-title">Nombre del Producto:</label>
                <input id="product-title" type="text" class="inputt" placeholder="Ingrese el nombre del producto" required>

                <label for="product-descr">Descripción del Producto:</label>
                <input id="product-descr" type="text" class="inputt" placeholder="Ingrese una descripción" required>

                <label for="product-price">Precio del Producto:</label>
                <input id="product-price" type="number" class="inputt" placeholder="Ingrese un precio" required>

                <label for="product-stock">Stock del Producto:</label>
                <input id="product-stock" type="number" class="inputt" placeholder="Ingrese el stock" required>

                <label for="product-pcode">Código del Producto:</label>
                <input id="product-pcode" type="text" class="inputt" placeholder="Ingrese el código del producto" required>

                <label for="product-category">Categoría del Producto:</label>
                <input id="product-category" type="text" class="inputt" placeholder="Ingrese la categoría del Producto" required>

                <label for="product-file">Imagen del Producto:</label>
                <input id="product-file" type="file" class="inputt">
                
                <button type="submit" class="btn-addproduct">Agregar Producto</button>
            </form>
        </div>
    </section>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/index.js"></script>
</body>
</html>

               

